/* ------MEDIA QUERIES FOR RESPONSIVE WEBSITE DESIGN FOR MOBILE AND TABLET SCREENS----- */

/* Desktops, large screens */
@media screen and (max-width:1200px) {
    html {
        font-size: 95%;
    }

    .home {
        height: 550px;

    }

    nav {
        display: none;
    }

    .aboutimg {
        width: 100vw;
        display: block;
    }
    
    #about img {
        display: block;
        margin: 50px auto 0;
    }
    
    .content{
        margin: 0 30px;
        padding: 0 0 20px;
        text-align: center;
    }

}


/* Small screens, laptops */
@media screen and (min-width:820px) and (max-width:1024px) {
    html {
        font-size: 97%;
    }

    .letmeget-content h2{
        font-size: 2.7rem;
    }

}


/* iPads, Tablets */
@media screen and (min-width:481px) and (max-width:819px) {
    body{
        font-size: 95%;
    }

    .home {
        background: url("/img/—Pngtree—children\ s\ software\ programming_5401259.png") no-repeat center/cover;
      }

     /* ---- WHY EVERY BUSINESS NEED A WEBSITE SECTION ---- */
    .h1-p{
        min-height: 750px;
    }


    /* BOTTOM SIDE MESSAGE ME FORM  */
    .right{
        margin-top: 80px;
    }

    .right-form{
        margin: 0;
    }
}


/* Mobile devices */
@media screen and (min-width:320px) and (max-width:480px) {
    html {
        font-size: 75%;
    }


}



