/* ------MEDIA QUERIES FOR RESPONSIVE WEBSITE DESIGN FOR MOBILE AND TABLET SCREENS----- */

/* Desktops, large screens */
@media screen and (max-width:1200px) {
    html {
        font-size: 95%;
    }

    .home {
        height: 550px;

    }

    nav {
        display: none;
    }

    .aboutimg {
        width: 100vw;
        display: block;
    }
    
    #about img {
        display: block;
        margin: 50px auto 0;
    }
    
    .content{
        margin: 0 30px;
        padding: 0 0 20px;
        text-align: center;
    }

}




/* Small screens, laptops */
@media screen and (min-width:820px) and (max-width:1024px) {
    html {
        font-size: 97%;
    }

    .letmeget-content h2{
        font-size: 2.7rem;
    }

}






/* iPads, Tablets */
@media screen and (max-width:819px) {
    html{
        /* font-size: 85%; */
    }

    .home {
        min-height: 700px;
        background: url("/img/home-back2.png");
        background-size: cover;
    }

      .container{
        top: 55%;
        left: 20%;
      }

      .container:before{
        display: none;
      }

      .start {
        display: none;
      }


      /* DEVELOPER IMAGE LEFT SIDE */
    .aboutimg{
        padding: 0;
      }

      #about img{
        width: 90%;
        height: 1%;
      }

      .para{
        font-size: 1.1rem;
        line-height: 35px;
        margin: 4px 0;
      }


   /* ---- WHY EVERY BUSINESS NEED A WEBSITE SECTION ---- */
    .h1-p{
        min-height: 850px;
    }

    .importance-content h1 {
        font-size: 2rem;
      }

    .importance-content p{
        font-size: 1rem;
    }

    .letmeget-content h2{
        font-size: 1.7rem;
    }

    /* BOTTOM SIDE MESSAGE ME FORM  */
    .right{
        margin: 50px;
      }

}






/* Mobile devices */
@media screen and (min-width:320px) and (max-width:500px) {
    html {
        font-size: 75%;
    }


}



