
/* FONTS WHICH USE IN WEBSITE FROM GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}


/*---------- H O M E -------*/
.home {
  height: 600px;
  width: 100%;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  background: url("/img/home-background.jpg") no-repeat center/cover;
}

/*-------NAVBAR------*/
nav {
  width: 100%;
  display: flex;
  z-index: 10;
  padding: 20px 0 16px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #3e0765;
  box-shadow: 1px 1px 5px #3e0765;
  position: fixed;
}

.logo h2 a {
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  text-shadow: 1px 1px 10px rgb(112, 115, 187);
}

nav ul {
  display: flex;
}

ul li {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px 25px;
}

.active {
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

li a {
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 3px 10px;
  position: relative;
}

li a:after {
  color: #000;
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 10px;
  bottom: -1px;
  transition: all 1.5s ease;
  background: #addbf7;
  border-radius: 30px;
}

li a:hover:after {
  width: 78%;
}

/* NAVBAR RIGHT SECTION */
.right-nav {
  display: flex;
  align-items: center;
}

.right-nav img {
  cursor: pointer;
  width: 20px;
}

#hire-me {
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 6px;
  letter-spacing: 1px;
  margin: 0 30px 0 13px;
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  background-color: #ed71be;
  font-family: "Montserrat", sans-serif;
}

#hire-me:hover {
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: transparent;
}

/* HI I AM LAKHVIR CONTAINER */
.container {
  padding: 20px;
  display: inline-block;
  position: relative;
  top: 33%;
  left: 7%;
  font-family: "lato", sans-serif;
}

.container h4 {
  color: white;
  font-size: 1.3rem;
  margin-left: 10px;
}

.container h1 {
  color: white;
  font-weight: 600;
  font-size: 3.8rem;
  font-family: "Bitter", serif;
}

.container h5,
.get-in-touch {
  background: -webkit-linear-gradient(#1da1f2, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
}

.container:before {
  content: "";
  width: 6px;
  height: 306px;
  border-radius: 20px;
  background: -webkit-linear-gradient(white, #1da1f2);
  position: absolute;
  left: 0;
  top: 20;
}

/* START NOW BUTTON DIV*/
.start {
  margin-top: 35px;
}

#email {
  border: 2px solid #cfdef3;
  width: 300px;
  padding: 12px 10px;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
}

.startnow {
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #1da1f2;
  padding: 12px 30px;
  margin-left: 10px;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
}

.startnow:hover {
  box-shadow: 1px 1px 6px #1da1f2;
  color: azure;
  transition: 0.4s;
}

/* OFFERS DIV */
.offers {
  display: block;
  color: #addbf7;
  margin-top: 30px;
}

.offers p {
  margin-top: 5px;
  opacity: 0.8;
  font-size: 1.1rem;
}


/*---------WHO AM I SECTION (ABOUT US)-----------*/
#about {
  height: auto;
  width: 100%;
  background-image: linear-gradient(to left bottom,
      #38065d,
      #39065e,
      #3a065e,
      #3b075f,
      #3c075f,
      #3d0761,
      #3e0864,
      #3f0866,
      #40096b,
      #410a71,
      #420b76,
      #420c7c);
}

#about h1 {
  margin: auto;
  display: block;
  position: relative;
  width: fit-content;
  padding: 30px 0 0 0;
  letter-spacing: 1px;
  font-size: 2.6rem;
  background: -webkit-linear-gradient(#1da1f2, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "lato";
}

#about h1:after {
  content: " ";
  height: 3px;
  width: 130px;
  display: block;
  border-radius: 50px;
  background: -webkit-linear-gradient(#1da1f2, white);
  position: absolute;
  left: 13%;
  top: 100%;
}

/* DEVELOPER IMAGE LEFT SIDE */
#about img {
  height: 510px;
  width: 450px;
  margin: 90px 0;
  border-radius: 7px;
}

.aboutimg {
  display: flex;
  padding: 0px 40px;
}

/* DEVELOPER INTRO */
.content {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
}

.content h2 {
  font-size: 2.6rem;
  font-weight: 400;
  font-family: serif;
  margin-top: 50px;
}

.content h3 {
  color: #ed71be;
  font-size: 1.5rem;
  margin: 10px 0;
}

.para {
  color: #addbf7;
  margin-top: 30px;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  line-height: 35px;
}


/*--------MY SKILLS SECTION --------*/
#skills {
  background: linear-gradient(to top, #e0eafc, #cfdef3);
  height: auto;
  width: 100%;
  font-family: "lato";
}

.myskills h1 {
  position: relative;
  display: block;
  width: fit-content;
  margin: auto;
  padding: 30px 0;
  letter-spacing: 1px;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#1da1f2, #3e0765);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myskills h1:after,
.get-in-touch:after {
  content: " ";
  height: 3px;
  width: 80%;
  display: block;
  border-radius: 50px;
  background: -webkit-linear-gradient(#1da1f2, #3e0765);
  position: absolute;
  left: 10%;
  bottom: 1;
}

/* MY SKILLS BOXES */
.boxes {
  display: flex;
  margin: auto 96px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-icons {
  width: 55px;
  display: block;
  margin: 0px auto;
  padding: 2px 0;
}

.skills-box {
  width: 300px;
  color: black;
  border: 1.9px solid #addbf7;
  margin: 30px 20px;
  padding: 20px 10px;
  border-radius: 8px;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.skills-box:hover {
  transform: scale(1.17);
  box-shadow: 2px 2px 30px #addbf7;
}

.skills-box h4 {
  color: #3d075f;
  margin: 10px 0 8px 0;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-align: center;
}

.skills-box p {
  color: #4f5456;
  text-align: center;
  opacity: 0.8;
  font-weight: 500;
  font-size: 1rem;
}



/* ---- WHY EVERY BUSINESS NEED A WEBSITE SECTION ---- */
#business-website {
  width: auto;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #38065d;
  background-blend-mode: soft-light;
}

.importance-content {
  display: block;
  margin: 0 auto;
  padding: 18px;
  position: relative;
  top: 70px;
  width: 950px;
  color: white;
  text-align: center;
  font-family: "lato";
  word-spacing: 2px;
  letter-spacing: 1px;
  border-radius: 20px;
  backdrop-filter: saturate(180%) blur(15px);
}

.importance-content h1 {
  font-size: 2.5rem;
}

.importance-content p {
  opacity: 0.8;
  padding-top: 40px;
  text-shadow: 1px 1px 8px rgb(0, 0, 0);
}



/*----OUR SERVICES----*/
#Our-Services {
  font-family: 'lato';
  background: linear-gradient(to top, #e0eafc, #cfdef3);
}

.services-heading {
  display: block;
  padding-top: 20px;
}

.services-heading h1 {
  display: flex;
  font-size: 2.4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#1da1f2, #3e0765);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-heading h1:after {
  content: " ";
  height: 4px;
  width: 180px;
  display: block;
  border-radius: 50px;
  background: -webkit-linear-gradient(#1da1f2, #3e0765);
  position: absolute;
  left: 44%;
  bottom: 0;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 36px;
  justify-content: space-evenly;
  font-family: "lato";
}

/*---------OUR-SERVICES BOXES---------*/
.services-box {
  height: 400px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 50px 15px 20px 15px;
  text-align: center;
  flex-direction: column;
  transition: 0.4s ease-in-out background-color;
}

.services-box:hover {
  color: white;
  border-radius: 13px;
  background-color: #3d0761d7;
}

.services-boxes-illu {
  height: 170px;
  width: 240px;
  margin: auto;
  caret-color: transparent;
}

.services-box h4 {
  font-size: 1.5rem;
  margin: 2px 0 7px 0;
}

.services-box p {
  opacity: 0.8;
  width: 340px;
  font-weight: 500;
  text-align: center;
}



/*--------Let Me Get You A Beautiful Website--------- */
#letmeget {
  background: url('/img/letnenon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 400px;
  font-family: 'nunito';
}

.letmeget-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(180%) blur(6px);
}

.letmeget-content h2 {
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

#letmeget button {
  border: 2px solid white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
  padding: 14px 100px;
  border-radius: 6px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #8c50f9, #552b87);

}

#letmeget button:hover {
  background-image: linear-gradient(to bottom, #A31E4A, #0C8880);
}


/* -------GET IN TOUCH (CONTACT US)-------- */
#contact-us {
  background-color: #172337;

  height: 600px;
  font-family: 'lato';
}

#getintouch {
  display: flex;
  justify-content: center;
}

.get-in-touch {
  margin: 20px 0;
  font-size: 2.5rem;
  position: relative;
}

.left-right {
  display: flex;
  color: white;
  margin: 40px 0;
  justify-content: space-around;
}


/* LEFT SIDE GET IN TOUCH PAGE */
.left {
  font-family: 'Montserrat';
}

.left-heading h2 {
  font-size: 1.9rem;
  font-weight: normal;
  letter-spacing: 0.4px;
}

.left-heading p {
  opacity: 0.7;
  margin: 5px 0;
}

.left-dev-address {
  display: block;
  margin-top: 30px;
}

.dev-info {
  display: inline-block;
  padding-right: 3px;
}

.dev-info p {
  opacity: 0.8;
  line-height: 30px;
}

.info-icons {
  margin-top: 10px;
}

.info-icons img {
  height: 50px;
  opacity: 0.8;
  padding: 12px 10px 0 0;
  filter: brightness(0) invert(1);
}


/* RIGHT SIDE MESSAGE ME FORM  */
.right {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  font-family: 'montserrat';
}

.right-heading {
  display: flex;
}

.right-heading h1 {
  font-size: 1.9rem;
  font-weight: normal;
  letter-spacing: 1.5px;
}

.right-form {
  margin-top: 20px;
  position: relative;
}

.right-form img {
  width: 23px;
  margin-top: 12px;
  position: absolute;
  left: 10px;
  z-index: 1;
}

#form-mail-icon {
  width: 26px;
  margin-top: 20px;
}

.right-form input {
  display: block;
  outline: none;
  margin-top: 8px;
  width: 390px;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 45px;
  border-radius: 10px;
  transition: 0.5s all ease-in;
}

.right-form input:focus,
.right-form textarea:focus {
  box-shadow: 1px 1px 20px #1da1f2;
  transform: scale(1.03);
}

.right-form :placeholder-shown {
  font-weight: bold;
  font-size: 1.1rem;
}

.right-form textarea {
  max-width: 390px;
  min-width: 390px;
  min-height: 100px;
  max-height: 200px;

  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s all ease-in;
}

.right-button button {
  border: none;
  width: 390px;
  cursor: pointer;
  color: white;
  background-color: #1da1f2;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-top: 15px;
  padding: 13px 40px;
  border-radius: 30px;
  caret-color: transparent;
}

.right-button button img {
  width: 20px;
  filter: brightness(0) invert(1);
}

.right-button button:hover {
  background-color: black;
  border: 2px solid #ffffff;
}




/* ALL IMAGES,ICONS AND ILLUSTRAIONS DOWNLOAD FROM " FLATICON - LUNAPIC - UNPLASH WEBITES" */

/* IMAGES CREDIT GOES TO THERE RESPECT CREATORS :)  */